{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add Video{% endblock %}

{% block body %}
<style>
  body {
      background-image: url('/static/images/home_bg.jpg');
      height: 500px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow-x: hidden;
  }
</style>

<div class="container d-flex justify-content-center">
    <div class="card col-lg-8 m-3 p-4" style="border: 2px solid black; border-style:double;">
        <h3 class="mb-4 mt-3" style="text-align: center; text-shadow:2px 2px 4px coral;">Add Video</h3 style="text-align: center;">
        <form method="POST" style="padding: 20px;">
            {% csrf_token %}
            {{form|crispy}} 
            <div style="text-align:center;">
                <button class="btn btn-success mt-4" type="submit" style="width: 30%;">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}