{% extends 'base.html' %}

{% block title %}My Courses{% endblock %}

{% block body %}
<style>
    body {
        background-image: url('/static/images/home_bg.jpg');
        height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
    }
    
</style>
<div class="container mt-5">
    <div class="row">
        {% for mycourse in mycourse %}
            <div class="card col-lg-5 m-4 p-4"  style="border: 2px solid black; border-style:double; text-align:center; ">
                <h5>&gt;&gt; {{mycourse.Name}} &lt;&lt;</h5>
                <a class="continue_course" href="{% url 'video' mycourse.id %}">Continue Course</a>
                <br>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}