{% extends 'base.html' %}
{% block title %}View Submission{% endblock %}

{% block body %}
<style>
    body {
        background-image: url('/static/images/home_bg.jpg');
        height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
    }
</style>

    <div class="container">
        <div class="row">
            
                {% for q_set in q_set %}
                    <div class="card col-lg-6 d-flex justify-content-center">
                        <embed src="{{q_set.Code.url}}" width="800px" height="200px" />
                    </div>
                {% endfor %}
            
        </div>
    </div>

{% endblock %}
