
<!-- dk -->

{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}DK{% endblock %}

{% block body %}
<style>
    body {
        background-image: url('/static/images/home_bg.jpg');
        height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
    }
</style>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit">submit</button>
        </form>
{% endblock %}