{% extends 'base.html' %}
{% block title %}Practice{% endblock %}

{% block body %}
<style>
    body {
        background-image: url('/static/images/home_bg.jpg');
        height: 500px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
    }
</style>

<div class="container mt-5">
    <div class="row">
        {% for problem in problem %}
            <div class="card col-lg-5 m-4 p-5" style="border: 2px solid black; border-style:double; ">
                <ul>
                    <li>
                        <h5>{{problem.Name}}</h5>
                        <h6>{{problem.Desc}}</h6>
                        <b>&gt;</b> <a class="problem_set" href ="{% url 'submit' problem.id %}" title="Submit">Submit Your Code</a><br>
                        <b>&gt;</b> <a class="problem_set" href ="{% url 'mysubmission' problem.id %}" title="View Submission">View Your Submission</a>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
