{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block body %}
<style>
    body {
        animation: change_color_profile 20s  infinite ;
        overflow-x: hidden;
    }
</style>
    <div class="container">
        <div class="card col-sm-10 col-md-8 col-lg-8 profile_col">

            <div class="profile_pic_center">    
                <img src="{{user.profile.Display_Pic.url}}" width="150px" height="150px">
             </div>
             
            <div class="form_detail">
                <label class="view_heading">Username:</label>
                <input class="view" type="text" value="{{user.username}}" disabled> 
            

                <label class="view_heading">First name:</label>
                <input class="view" type="text" value="{{user.first_name}}" disabled>
            

                <label class="view_heading">Last name:</label>
                <input class="view" type="text" value="{{user.last_name}}" disabled>
            
                <label class="view_heading">Email:</label>
                <input class="view" type="text" value="{{user.email}}" disabled>
            

                <label class="view_heading">Bio: </label>
                <input class="view" type="text" value="{{user.profile.Bio}}" disabled>
            
                <label class="view_heading">Github Link:</label>
                <input class="view" type="text" value="{{user.profile.Github_Link}}" disabled>

                <a class="update_profile" href="{% url 'update_profile' %}">Edit Profile</a>
        
            </div>

            
            
        </div>
    </div>

{% endblock %}
    

